# Python
__pycache__/
*.py[cod]
*.pyo

# Python virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Node
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log