# Python
__pycache__/
*.py[cod]
*.pyo

# Python virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Node
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Old project files
/dashboard.py
/README.md
/requirement.txt
/dataset/
/logs/
/ml_engine/
/network_monitor/
/threat_intel/